	body {
        font: 400 15px Lato, sans-serif;
        line-height: 1.8;
        color: #818181;
    }
	
	.container-fluid {
        padding: 60px 50px;
    }
	
	.logo-small {
        color: #673147;
        font-size: 50px;
    }

    .logo {
        color: #673147;
        font-size: 200px;
    }

	.logo-img {
		position: absolute;
		top: 0px;
		left: 100px;
	}
	
	.bg-grey {
        background-color: #fffcfc;
    }
	
	.navbar {
		margin-bottom: 0;
		background-color: #b39eb5;
		z-index: 9999;
		border-bottom-width: 5px;
		font-size: 12px !important;
		line-height: 1.42857143 !important;
		letter-spacing: 4px;
		border-radius: 0;
		font-family: Montserrat, sans-serif;
	}
	
	.navbar li a,
	.navbar .navbar-brand {
		color: #fff !important;
	}
	
	.navbar-nav li a:hover,
	.navbar-nav li.active a {
		color: #673147 !important;
		background-color: #fff !important;
	}
	
	.navbar-default .navbar-toggle {
		border-color: transparent;
		color: #fff !important;
	}
	
	.jumbotron {
			background-image: url('image2/menu\ budget\ bg.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
            font-family: Montserrat, sans-serif;
			padding: 213px 50px;
			text-shadow: #ffffff;
    }
	
	.jumbotron h1 { 
			color: #ffffff; 
			font-family: Lato, sans-serif;
			font-size: 60px; 
			text-transform: uppercase;
			margin-bottom: 20px;
			text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}

	.jumbotron img {
			width: 100%;
    	    height: 100%;
	}

	.jumbotron::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.3); 
	}
	
	.budget-menu-section {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			padding: 50px 20px;
			text-align: center;
			color: #000;
	}

	.budget-menu-image img {
			max-width: 100%;
			height: 400px;
	}

	.budget-menu {
			padding: 20px;
			text-align: left;
	}

	.budget-menu ul {
			list-style: none;
			padding: 0;
	}

	.budget-menu ul li span {
			font-weight: bold;
	}

	.budget-menu h1,
	.budget-menu h2 {
			color: #673147;
			font-family: Lato, sans-serif;
	}
	
	.col-md-6 {
		padding-top: 20px;
		padding-bottom: 60px;
	}

	.footer {
		background-color: #ddcedf;
		padding: 10px;
	}